@import '../../states/mixins';

// Variables for holding random values to randomize the vanishing of the initial letters
:root {
    --translate-x: 0;
    --translate-y: 0;
    --top-entry-letter: 0;
    --left-entry-letter: 0;
}

@keyframes blackHoleLetters {
    100% {
        transform: translate(var(--translate-x), var(--translate-y)) rotateZ(360deg) scale(0); 
    }
}

.entryText {
    text-align: center;
    font-size: 2.1em;
    font-family: Verdana, Tahoma, sans-serif;
    line-height: 1.4;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 10%;
    opacity: 0;

    &__fade-in {
        transition: opacity 2s ease-out;
        opacity: 1;
    }

    @include vanishingLetters;

    @include mq('small') {
        font-size: 3.8em;
        @media (max-height: 600px) {
            font-size: 2.5em;
        }
    }

    @include mq('medium') {
        margin-left: 0.5%;
        font-size: 4.75em;
        margin-left: 15%;
        margin-right: 15%;
        @media (max-height: 600px) {
            font-size: 2.8em;
        }
    }

    @include mq('large') {
        font-size: 5.8em;
        margin-top: 0%;
    }

    @include mq('extra-large') {
        font-size: 6.3em;
    }

    span {
        @include introTextShadow;
        perspective: 1000px;
        margin-left: 1%;
    }
}

