@use 'sass:math';

// Custom css properties for star movement to hold random number generated in JavaScript
:root {
    --random-shooting-x: 0vw;
    --random-shooting-y: 0vh;
}

// Keyframes for twinkling disappearing and shooting star animations
@keyframes twinkle {
    40% {
        transform: scale(1.35);
    }

    80% {
        transform: scale(1.6);
    }
}

@keyframes disappearing {
    100% {
        top: 50%;
        left: 50%;
    }
}

@keyframes shooting {
    100% {
        transform: translate(var(--random-shooting-x), var(--random-shooting-y));
    }
}

// A mixin to generate the stars
@mixin starGenerator {
    $star-colors-list: map-get($bg-colors, star-colors);
    @for $i from 1 through 250 {
        &--#{$i} {
            position: absolute;
            top: math.floor(math.random() * 100%);
            left: math.floor(math.random() * 100%);
            width: math.random(2) * 1px;
            height: math.random(2) * 1px;
            border-radius: (math.random() * 10%) + 45%;
            filter: blur(0.7px);
            @each $starColor in $star-colors-list {
                @if math.random(5) == index($star-colors-list, $starColor) {
                    background-color: $starColor;
                }
            }
// Animation for causing the star to twinkle and then become a shooting star
            &__start-animation {
                animation: twinkle 2s ease-out 0.5s, 
                disappearing 2s ease-out 2.5s 
            }
// An animation for causing stars to twinkle
            &__twinkling {
                animation: twinkle 2s ease-out; 
            }
// An animation for causing stars to shoot across the page
            &__shooting {
                animation: shooting 20s ease-out forwards;
            }
        }
    }
}