%main-container {
    overflow-x: hidden;
    position: absolute;
    top: 5%;
    left: -80%;
    width: 80%;
    height: 90%;
    letter-spacing: 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

%sub-container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

%project-buttons {
    padding: 5px 8px;
    color: $text-color;
    border: 1px solid white;
    margin-bottom: 0px;
    letter-spacing: 2px;
}

%hr {
    background-color: $text-color;
    height: 1px;
    width: 99%;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 0.5px;
}



