%main-container {
    overflow-x: hidden;
    position: absolute;
    top: 5%;
    left: -80%;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: $box-br;
    background-color: $box-bg-color;
    letter-spacing: 2px;
}

%portfolio-header {
    display: flex;
    flex-direction: column;
}


%project-buttons {
    padding: 5px 8px;
    color: $text-color;
    border: 1px solid black;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
