.about {
    @extend %main-container;
    @include buttons;
    overflow-y: visible;
    background-color: $box-bg-color;
    
    &--header {
        @extend %sub-container;
        h1 {
            @media (min-width: $brkpoint-md) and (max-width: $brkpoint-lg) {
                margin: 4px 0px 0px;
            }
        }

        &--nav {
            a {
                @media (max-width: 300px) {
                    font-size: 0.825em;
                }
            }
            @include nav;
            @media (min-width: $brkpoint-md) and (max-width: $brkpoint-lg) {
                width: 42%;
            }
            button[type='button'] {
                @media (min-width: $brkpoint-md) and (max-width: $brkpoint-lg) {
                    margin-bottom: 0px;
                } 
            }
        }

        @media (min-width: $brkpoint-md) and (max-width: $brkpoint-lg) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 12px;
        }
    }

    &--main {
        @extend %sub-container;
        text-align: start;
        hr:first-of-type {
            @extend %hr;
        }
        p:first-of-type {
            margin-top: 22.5px;
        }
    }
}