:root {
    --home-profile-height: 100%;
}

.home {
    @include buttons;
    @include sliding;
    @extend %home-main;
    overflow-y: auto;
    
    &--header {
        @extend %home;
        border-radius: 5px 5px 0 0;

        h1 {
            text-align: center;
            margin-left: 5%;
            margin-right: 5%;
        }

        & > hr:first-of-type {
            width: 99%;
            background-color: $text-color;
            margin-bottom: 20px;
        }

        @include mq('medium') {
            @include home-sideBar;
        }

    }

    &--profile {
        @extend %sub-container;
        @extend %home;
        border-radius: 0 0 5px 5px;
        
        p {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        hr {
            background-color: $text-color;
            height: 1px;
            width: 100%;
            margin-top: 12px;
            margin-bottom: 12px;
        }

        &--socialMedia {
            display: flex;
            justify-content: space-around;
        }
    
        &--socialMedia a {  
            width: 20%;  
            img {
                width: 100%;
            }
            
            &:hover {
                cursor: pointer;
                transition: transform 0.2s ease-out;
                transform: scale(1.1);
            }
    
            @include mq('medium') {
                width: 5%;
            }
        }

        p, ul {
            text-align: start;
        }

        p:last-of-type {
            margin-bottom: 10px;
        }

        @include lists;

        @include mq('medium') {
            min-height: var(--home-profile-height);
            @include home-sideBar;
            justify-content: space-evenly;
            li {
                display: inline;
                padding-right: 10px;
                line-height: 1.75;
            }

            &--socialMedia a {    
                width: 12%;
            }

            @media (max-width: 1024px) and (max-height: 975px) {
                &--skills, & p:last-of-type {
                    display: none;
                }
            }
        }

        @include mq('large') {
            justify-content: space-around;

            .home--profile--skills h2 {
                margin-top: 10px;
                margin-bottom: 10px;
            }

            @media (max-height: 768px) {
                &--skills, & p:last-of-type {
                    display: none;
                }
            }
        }
    }

    .previewProjects {
        display: none;
        @include mq('medium') {
            @include previewProjects;
        }
    }

    @include mq('medium') {
        overflow-y: hidden;
    }
    
}






