.home {
    @extend %main-container;
    @include buttons;
    @include sliding;
    overflow-y: visible;

    h1 {
        margin-left: 5%;
        margin-right: 5%;
    }

    & > hr:first-of-type {
        width: 100%;
        background-color: $text-color;
    }

    &--profile {
        @extend %sub-container;
        
        p {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        hr {
            background-color: $text-color;
            height: 1px;
            width: 100%;
            margin-top: 12px;
            margin-bottom: 12px;
        }

        &--socialMedia {
            display: flex;
            justify-content: space-around;
        }
    
        &--socialMedia a {  
            width: 20%;  
            img {
                width: 100%;
            }
            
            &:hover {
                cursor: pointer;
                transition: transform 0.2s ease-out;
                transform: scale(1.1);
            }
    
            @include mq('medium') {
                width: 5%;
            }
        }

        p, ul {
            text-align: start;
        }

        p:last-of-type {
            margin-bottom: 10px;
        }

        @include lists;

        @include mq('medium') {
            justify-content: space-evenly;
            li {
                display: inline;
                padding-right: 10px;
                line-height: 1.75;
            }

            &--socialMedia a {    
                width: 12%;
            }
        }

        @include mq('large') {
            justify-content: space-around;

            .home--profile--skills h2 {
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .home--profile--skills p:last-of-type {
                display: none;
            }
        }
    }

    @include mq('medium') {
        width: 30% !important;
        overflow: hidden;
    }
}

.previewProjects {
    display: none;
    @include mq('medium') {
        // @include previewProjects;
    }
}




