:root {
    --min-home-profile-height: auto;
    --justify-content-home-profile: none;
}

.home {
    @include buttons;
    @extend %main-container;
    letter-spacing: 2px;
    overflow-y: auto;

    hr {
        @extend %hr;
    }
    
    &--header {
        @extend %sub-container;
        border-radius: 5px 5px 0 0;

        h1 {
            text-align: center;
            margin: 12px;
        }

        &--nav {
            @include nav;
            a {
                @media (min-width: $brkpoint-md) and (max-width: $brkpoint-lg) {
                    width: 100%;
                }
            }
            button {
                @media (min-width: $brkpoint-md) and (max-width: $brkpoint-lg) {
                    border-radius: 0%;
                }
            }
            @media (min-width: $brkpoint-md) and (max-width: $brkpoint-lg) {
                display: block;
            }
        }

        @include mq('medium') {
            @include home-sideBar;            
        }
    }

    &--profile {
        @extend %sub-container;
        border-radius: 0 0 5px 5px;
        min-height: var(--min-home-profile-height);
        justify-content: var(--justify-content-home-profile);
        
        p {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        p a:hover {
            color: rgb(131, 75, 180);
        }

        &--socialMedia {
            display: flex;
            justify-content: space-around;
        }
    
        &--socialMedia a {  
            width: 20%;  
            img {
                width: 100%;
            }
            
            &:hover {
                cursor: pointer;
                transition: transform 0.2s ease-out;
                transform: scale(1.1);
            }
    
            @include mq('medium') {
                width: 5%;
            }
        }

        p, ul {
            text-align: start;
        }

        p:last-of-type {
            margin-bottom: 10px;
        }

        h2 {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        @include lists;

        @include mq('medium') {
            @include home-sideBar;

            &--socialMedia a {    
                width: 12%;
            }

            @media (max-width: 1024px) and (max-height: 975px) {
                &--skills, & p:last-of-type {
                    display: none;
                }
            }
        }

        @include mq('large') {
            justify-content: space-around;

            .home--profile--skills h2 {
                margin-top: 10px;
                margin-bottom: 10px;
            }

            @media (max-height: 768px) {
                &--skills, & p:last-of-type {
                    display: none;
                }
            }
        }
    }

    .previewProjects {
        display: none;
        @include mq('medium') {
            @include previewProjects;
        }
    }

    @include mq('medium') {
        overflow-y: hidden;
    }
    
}








