:root {
    --project-height: 0;
}

.portfolio {
    @extend %main-container;
    @include buttons;
    @include project;
    background-color: $box-bg-color;

    hr {
        @extend %hr;
    }

    .projects {
        overflow-y: visible;
    }

    &--header {
        @extend %sub-container;
        h1 {
            @media (min-width: $brkpoint-md) and (max-width: $brkpoint-lg) {
                text-align: start;
                width: 55%;
                margin: 4px 0px 0px;
            }
        }

        &--nav {
            @include nav;
            @media (min-width: $brkpoint-md) and (max-width: $brkpoint-lg) {
                width: 42%;
            }
            button[type='button'] {
                @media (min-width: $brkpoint-md) and (max-width: $brkpoint-lg) {
                    margin-bottom: 0px;
                } 
            }
        }

        @media (min-width: $brkpoint-md) and (max-width: $brkpoint-lg) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 12px;
        }
    }

    & > .projects {
        @extend %sub-container;
        height: var(--project-height);
    }
}
