:root {
    --project-height: 0;
}

.portfolio {
    @extend %main-container;
    @include buttons;
    @include project;
    background-color: $box-bg-color;

    hr {
        @extend %hr;
    }

    .projects {
        overflow-y: visible;
    }

    &--header {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        h1 {
            margin: 10px 0px;
            @media (min-width: $brkpoint-md) and (max-width: $brkpoint-lg) {
                width: 55%;
                text-align: start;
            }
        }

        &--nav {
            @include nav;
            @media (min-width: $brkpoint-md) and (max-width: $brkpoint-lg) {
                width: 40%;
            }
        }
    }

    & > .projects {
        @extend %sub-container;
        height: var(--project-height);
    }
}
