@import '../utilities/variables';
@import '../utilities/mixins';

* {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: map-get($bg-colors, 'base-color');
    font-family: $base-font;
    color: $text-color;
}

