@import '../utilities/variables';
@import '../utilities/mixins';

* {
    box-sizing: border-box;
}

html, .root, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    background-color: map-get($bg-colors, 'base-color');
    font-family: $base-font;
    color: $text-color;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 { 
    margin: 10px 0px;
}

p {
    overflow-wrap: break-word;
}


